.landing{
   display:flex;
   padding:10px;
   /* border: 1px solid green; */
   justify-content: space-between;
   /* align-items: center; */
   min-height: 90vh;
}
.main-container{
   display: flex;
   flex-direction: column;
   flex: 1;
   margin-right: 10px;
   /* border: 1px solid gray; */
}
.job-img{
   /* border: 1px solid red; */
   display: flex;
   align-items: flex-end;
   flex: 1;
   img{
      width: 100%;
   }
}
.navbar-landing{
   display: flex;
   align-items: center;
   padding:1px 5px;
   /* background: red; */
   h1{
      margin-left: 10px;
      color: #209CEE;
   }
}


.landing-page{
   display:flex;
   flex-direction: column;
   margin-top: 3rem;
   h1{
      span{
         color: #209CEE;
      }
   }
}

.page-info{
   display: flex;
   flex-direction: column;
   padding: 0.5rem;
   /* background: green; */
 p{
   max-width: 400px;
   line-height: 25px;
 }
}

.page-info button{
   margin-top: 10px;
      width:fit-content;
      padding: 6px 10px;
      border: none;
      border-radius: 5px;
      background: #209CEE;
      color: whitesmoke;

   
}

.page-info a{
   text-decoration: none;
   background: #209CEE;
   border: 1px solid #209CEE;
   width: fit-content;
   align-items: center;
   padding: 2px 20px;
   border-radius: 5px;
   color: white;
}